FPL_Remote*
Personalities.py
*__pycache__*
**/FPL_Datasets/**
constants.py
malleable_constants.py
descriptions/**
fplenv.yml
historicalPersonalitiesDump.py
notes.txt
private_versions/**
team_bot*
unused/**
FormatConverter.py
*.swp
.vscode*
copies/**


