FPL_Remote/*
Personalities.py
*__pycache__
C*Users*
constants.py
descriptions/**
fplenv.yml
historicalPersonalitiesDump.py
notes.txt
private_versions/**
team_bot*
unused/**
FormatConverter.py
*.swp
.vscode*
copies/**


